In [1]:
import networkx as nx
import matplotlib.pyplot as plt
import csv
import pandas as pd
from collections import Counter
import numpy as np

In [2]:
a=pd.read_csv('dataset_2019.csv')
b=pd.read_csv('dataset_2020.csv')
data19=a[['index','borrow_station','return_station','count']]
data20=b[['index','borrow_station','return_station','count']]
data19=data19.sort_values(by='count' ,ascending=False)
data20=data20.sort_values(by='count' ,ascending=False)

In [3]:
data19.describe()

       borrow_station  return_station          count
count   516595.000000   516595.000000  516595.000000
mean      1224.497463     1225.388895      33.648007
std       1067.850592     1110.021827     155.489336
min          3.000000        3.000000       1.000000
25%        431.000000      505.000000       1.000000
50%       1122.000000     1128.000000       3.000000
75%       1969.000000     1916.000000      14.000000
max      99999.000000    99999.000000   27694.000000

In [4]:
data20.describe()

       borrow_station  return_station          count
count   975863.000000   975863.000000  975863.000000
mean      1335.014512     1334.529667      19.029820
std       1072.631590     1021.098209     100.986054
min          3.000000        3.000000       1.000000
25%        511.000000      539.000000       1.000000
50%       1197.000000     1201.000000       3.000000
75%       2066.000000     2036.000000       9.000000
max      99999.000000    99999.000000   27207.000000

In [5]:
data19.head(30)

               index  borrow_station  return_station    count
42873     (502, 502)             502             502  27694.0
60942     (207, 207)             207             207  27181.0
115706    (152, 152)             152             152  12312.0
52343   (3515, 3515)            3515            3515  11562.0
37687   (2219, 2219)            2219            2219  11325.0
154172  (2102, 2183)            2102            2183   9595.0
244218  (2183, 2102)            2183            2102   9060.0
154173  (2102, 2102)            2102            2102   8711.0
218478    (183, 113)             183             113   8480.0
6145      (565, 565)             565             565   8336.0
79795     (272, 272)             272             272   8040.0
360711    (590, 592)             590             592   7935.0
108944    (907, 907)             907             907   7898.0
128297    (186, 186)             186             186   7811.0
29523   (2002, 2002)            2002            2002   7388.0
318841  (1268, 1268)            1268            1268   6781.0
388870    (592, 590)             592             590   6734.0
339908    (548, 502)             548             502   6552.0
11518     (583, 583)             583             583   6547.0
282779  (1160, 1160)            1160            1160   6443.0
42874    (502, 3533)             502            3533   6418.0
14393   (2025, 2025)            2025            2025   6261.0
121177    (113, 183)             113             183   6182.0
345044  (2622, 2622)            2622            2622   5795.0
244219  (2183, 2183)            2183            2183   5729.0
45607    (3533, 502)            3533             502   5592.0
359314    (593, 502)             593             502   5569.0
12926   (2262, 2262)            2262            2262   5526.0
49696   (1222, 1222)            1222            1222   5430.0
402060  (1827, 1827)            1827            1827   5420.0

In [6]:
data20.head(10)

                   index  borrow_station  return_station    count
248477    ('502', '502')             502             502  27207.0
246396    ('207', '207')             207             207  24893.0
287062    ('152', '152')             152             152  15981.0
894962    ('186', '186')             186             186  12296.0
878395  ('3515', '3515')            3515            3515  11724.0
446498    ('565', '565')             565             565  11366.0
67052   ('2102', '2102')            2102            2102  11210.0
623837  ('1827', '1827')            1827            1827  10321.0
104816    ('272', '272')             272             272   9519.0
606996    ('583', '583')             583             583   9101.0

In [7]:
c=pd.read_csv('공공자전거 대여소 정보(21.01.31 기준).csv', encoding='cp949')
stat=c[['대여소 번호', '보관소(대여소)명','자치구']]
stat

      대여소 번호          보관소(대여소)명  자치구
0        301        경복궁역 7번출구 앞  종로구
1        302        경복궁역 4번출구 뒤  종로구
2        303        광화문역 1번출구 앞  종로구
3        304        광화문역 2번출구 앞  종로구
4        305             종로구청 옆  종로구
...      ...                ...  ...
2149    1085       래미안 솔베뉴(고덕로)  강동구
2150    1086      래미안 솔베뉴(구천면로)  강동구
2151    1088          풍납사거리(강동)  강동구
2152    1089  고덕 래미안힐스테이트(201동)  강동구
2153    1090        상일동역 2번출구 앞  강동구

[2154 rows x 3 columns]

In [8]:
d=pd.merge(data19,stat, left_on='borrow_station', right_on='대여소 번호', how='inner')
d=d[['index','borrow_station','return_station','보관소(대여소)명','자치구','count']]
e=pd.merge(d,stat, left_on='return_station', right_on='대여소 번호', how='inner')
df19=e[['index','borrow_station','보관소(대여소)명_x','자치구_x','return_station','보관소(대여소)명_y','자치구_y','count']]
df19.drop_duplicates(['index'])
df19=df19.sort_values(by='count' ,ascending=False)

## 2019년 최다 이용 경로

In [9]:
df19.head(50)

,index,borrow_station,보관소(대여소)명_x,자치구_x,return_station,보관소(대여소)명_y,자치구_y,count
0,"(502, 502)",502,뚝섬유원지역 1번출구 앞,광진구,502,뚝섬유원지역 1번출구 앞,광진구,27694.0
46655,"(207, 207)",207,여의나루역 1번출구 앞,영등포구,207,여의나루역 1번출구 앞,영등포구,27181.0
130469,"(152, 152)",152,마포구민체육센터 앞,마포구,152,마포구민체육센터 앞,마포구,12312.0
17646,"(3515, 3515)",3515,서울숲 관리사무소,성동구,3515,서울숲 관리사무소,성동구,11562.0
20431,"(2219, 2219)",2219,"고속터미널역 8-1번, 8-2번 출구 사이",서초구,2219,"고속터미널역 8-1번, 8-2번 출구 사이",서초구,11325.0
385150,"(2102, 2183)",2102,봉림교 교통섬,관악구,2183,동방1교,관악구,9595.0
289441,"(2183, 2102)",2183,동방1교,관악구,2102,봉림교 교통섬,관악구,9060.0
289440,"(2102, 2102)",2102,봉림교 교통섬,관악구,2102,봉림교 교통섬,관악구,8711.0
215587,"(183, 113)",183,하늘채코오롱아파트 건너편,마포구,113,홍대입구역 2번출구 앞,마포구,8480.0
3897,"(565, 565)",565,옥수역 3번출구,성동구,565,옥수역 3번출구,성동구,8336.0
147430,"(272, 272)",272,당산육갑문,영등포구,272,당산육갑문,영등포구,8040.0
16182,"(590, 592)",590,건국대학교 (입학정보관),광진구,592,건국대학교 학생회관,광진구,7935.0
239768,"(907, 907)",907,CJ 드림시티,은평구,907,CJ 드림시티,은평구,7898.0
243090,"(186, 186)",186,월드컵공원,마포구,186,월드컵공원,마포구,7811.0
56449,"(2002, 2002)",2002,노들역 1번출구,동작구,2002,노들역 1번출구,동작구,7388.0
61939,"(1268, 1268)",1268,몽촌토성역 1번출구 옆,송파구,1268,몽촌토성역 1번출구 옆,송파구,6781.0
13658,"(592, 590)",592,건국대학교 학생회관,광진구,590,건국대학교 (입학정보관),광진구,6734.0
15,"(548, 502)",548,자양나들목,광진구,502,뚝섬유원지역 1번출구 앞,광진구,6552.0
7978,"(583, 583)",583,청계천 생태교실 앞,성동구,583,청계천 생태교실 앞,성동구,6547.0
7977,"(583, 583)",583,청계천 생태교실 앞,성동구,583,청계천 생태교실 앞,성동구,6547.0
7975,"(583, 583)",583,청계천 생태교실 앞,성동구,583,청계천 생태교실 앞,성동구,6547.0
7976,"(583, 583)",583,청계천 생태교실 앞,성동구,583,청계천 생태교실 앞,성동구,6547.0
344938,"(1160, 1160)",1160,양천향교역 7번출구앞,강서구,1160,양천향교역 7번출구앞,강서구,6443.0
1004,"(502, 3533)",502,뚝섬유원지역 1번출구 앞,광진구,3533,건대입구역 사거리(롯데백화점),광진구,6418.0
89268,"(2025, 2025)",2025,흑석역 1번출구,동작구,2025,흑석역 1번출구,동작구,6261.0
387893,"(113, 183)",113,홍대입구역 2번출구 앞,마포구,183,하늘채코오롱아파트 건너편,마포구,6182.0
109040,"(2622, 2622)",2622,올림픽공원역 3번출구,송파구,2622,올림픽공원역 3번출구,송파구,5795.0
385151,"(2183, 2183)",2183,동방1교,관악구,2183,동방1교,관악구,5729.0
22,"(3533, 502)",3533,건대입구역 사거리(롯데백화점),광진구,502,뚝섬유원지역 1번출구 앞,광진구,5592.0
23,"(593, 502)",593,자양중앙나들목,광진구,502,뚝섬유원지역 1번출구 앞,광진구,5569.0
36898,"(2262, 2262)",2262,한신16차아파트 119동 앞,서초구,2262,한신16차아파트 119동 앞,서초구,5526.0
40986,"(1222, 1222)",1222,잠실새내역 5번 출구 뒤,송파구,1222,잠실새내역 5번 출구 뒤,송파구,5430.0
355052,"(1827, 1827)",1827,독산보도육교 앞 자전거 보관소,금천구,1827,독산보도육교 앞 자전거 보관소,금천구,5420.0
273711,"(914, 914)",914,새절역 2번출구,은평구,914,새절역 2번출구,은평구,5155.0
191109,"(210, 210)",210,IFC몰,영등포구,210,IFC몰,영등포구,4998.0
37784,"(1211, 1210)",1211,방이삼거리,송파구,1210,롯데월드타워(잠실역2번출구 쪽),송파구,4977.0
55058,"(648, 646)",648,장안동위더스빌옆,동대문구,646,장한평역 1번출구 (국민은행앞),동대문구,4954.0
96068,"(2621, 2621)",2621,한성백제역 2번 출구,송파구,2621,한성백제역 2번 출구,송파구,4894.0
5390,"(589, 509)",589,성수역3번출구,성동구,509,이마트 버스정류소 옆,성동구,4884.0
165304,"(182, 182)",182,망원2빗물펌프장 앞,마포구,182,망원2빗물펌프장 앞,마포구,4880.0
280700,"(117, 117)",117,홍은사거리,서대문구,117,홍은사거리,서대문구,4845.0
14757,"(3511, 3511)",3511,응봉역 1번출구,성동구,3511,응봉역 1번출구,성동구,4810.0
110197,"(1601, 1663)",1601,석계역 문화광장 내 자전거 보관소,노원구,1663,동해문화예술관앞,노원구,4793.0
215599,"(113, 113)",113,홍대입구역 2번출구 앞,마포구,113,홍대입구역 2번출구 앞,마포구,4748.0
1693,"(502, 548)",502,뚝섬유원지역 1번출구 앞,광진구,548,자양나들목,광진구,4723.0
2132,"(502, 593)",502,뚝섬유원지역 1번출구 앞,광진구,593,자양중앙나들목,광진구,4695.0
64191,"(567, 563)",567,성수역 2번출구 앞,성동구,563,성동세무서 건너편,성동구,4641.0
60757,"(2301, 2301)",2301,현대고등학교 건너편,강남구,2301,현대고등학교 건너편,강남구,4640.0
26726,"(1209, 1209)",1209,잠실나루역 (2번 출구 쪽),송파구,1209,잠실나루역 (2번 출구 쪽),송파구,4607.0
464773,"(2206, 2202)",2206,언남초등학교 앞,서초구,2202,청계산입구역 1번출구,서초구,4590.0

In [10]:
d=pd.merge(data20,stat, left_on='borrow_station', right_on='대여소 번호', how='inner')
d=d[['index','borrow_station','return_station','보관소(대여소)명','자치구','count']]
e=pd.merge(d,stat, left_on='return_station', right_on='대여소 번호', how='inner')
df20=e[['index','borrow_station','보관소(대여소)명_x','자치구_x','return_station','보관소(대여소)명_y','자치구_y','count']]
df20.drop_duplicates(['index'])
df20=df20.sort_values(by='count' ,ascending=False)

## 2020년 최다 이용 경로

In [11]:
df20.head(50)

,index,borrow_station,보관소(대여소)명_x,자치구_x,return_station,보관소(대여소)명_y,자치구_y,count
0,"('502', '502')",502,뚝섬유원지역 1번출구 앞,광진구,502,뚝섬유원지역 1번출구 앞,광진구,27207.0
84972,"('207', '207')",207,여의나루역 1번출구 앞,영등포구,207,여의나루역 1번출구 앞,영등포구,24893.0
174432,"('152', '152')",152,마포구민체육센터 앞,마포구,152,마포구민체육센터 앞,마포구,15981.0
432141,"('186', '186')",186,월드컵공원,마포구,186,월드컵공원,마포구,12296.0
23706,"('3515', '3515')",3515,서울숲 관리사무소,성동구,3515,서울숲 관리사무소,성동구,11724.0
10020,"('565', '565')",565,옥수역 3번출구,성동구,565,옥수역 3번출구,성동구,11366.0
530564,"('2102', '2102')",2102,봉림교 교통섬,관악구,2102,봉림교 교통섬,관악구,11210.0
681301,"('1827', '1827')",1827,독산보도육교 앞 자전거 보관소,금천구,1827,독산보도육교 앞 자전거 보관소,금천구,10321.0
189581,"('272', '272')",272,당산육갑문,영등포구,272,당산육갑문,영등포구,9519.0
5071,"('583', '583')",583,청계천 생태교실 앞,성동구,583,청계천 생태교실 앞,성동구,9101.0
5074,"('583', '583')",583,청계천 생태교실 앞,성동구,583,청계천 생태교실 앞,성동구,9101.0
5072,"('583', '583')",583,청계천 생태교실 앞,성동구,583,청계천 생태교실 앞,성동구,9101.0
5073,"('583', '583')",583,청계천 생태교실 앞,성동구,583,청계천 생태교실 앞,성동구,9101.0
40907,"('2219', '2219')",2219,"고속터미널역 8-1번, 8-2번 출구 사이",서초구,2219,"고속터미널역 8-1번, 8-2번 출구 사이",서초구,8935.0
144741,"('2002', '2002')",2002,노들역 1번출구,동작구,2002,노들역 1번출구,동작구,8017.0
13157,"('3511', '3511')",3511,응봉역 1번출구,성동구,3511,응봉역 1번출구,성동구,7994.0
120253,"('2025', '2025')",2025,흑석역 1번출구,동작구,2025,흑석역 1번출구,동작구,7649.0
507190,"('907', '907')",907,CJ 드림시티,은평구,907,CJ 드림시티,은평구,7643.0
534087,"('2102', '2183')",2102,봉림교 교통섬,관악구,2183,동방1교,관악구,7317.0
534099,"('2183', '2183')",2183,동방1교,관악구,2183,동방1교,관악구,6799.0
530582,"('2183', '2102')",2183,동방1교,관악구,2102,봉림교 교통섬,관악구,6765.0
158794,"('2622', '2622')",2622,올림픽공원역 3번출구,송파구,2622,올림픽공원역 3번출구,송파구,6759.0
492300,"('2177', '2177')",2177,신대방역 2번 출구,관악구,2177,신대방역 2번 출구,관악구,6350.0
1,"('502', '00502')",502,뚝섬유원지역 1번출구 앞,광진구,502,뚝섬유원지역 1번출구 앞,광진구,6259.0
98179,"('2262', '2262')",2262,한신16차아파트 119동 앞,서초구,2262,한신16차아파트 119동 앞,서초구,6185.0
84973,"('207', '00207')",207,여의나루역 1번출구 앞,영등포구,207,여의나루역 1번출구 앞,영등포구,6172.0
106243,"('2301', '2301')",2301,현대고등학교 건너편,강남구,2301,현대고등학교 건너편,강남구,6124.0
625250,"('117', '117')",117,홍은사거리,서대문구,117,홍은사거리,서대문구,6112.0
202691,"('1720', '1720')",1720,도봉구청 옆(중랑천변),도봉구,1720,도봉구청 옆(중랑천변),도봉구,5999.0
83469,"('2217', '2217')",2217,아크로리버뷰 부지 앞,서초구,2217,아크로리버뷰 부지 앞,서초구,5876.0
2056,"('502', '3533')",502,뚝섬유원지역 1번출구 앞,광진구,3533,건대입구역 사거리(롯데백화점),광진구,5814.0
162438,"('2621', '2621')",2621,한성백제역 2번 출구,송파구,2621,한성백제역 2번 출구,송파구,5778.0
682069,"('1160', '1160')",1160,양천향교역 7번출구앞,강서구,1160,양천향교역 7번출구앞,강서구,5639.0
131964,"('249', '249')",249,여의도중학교 옆,영등포구,249,여의도중학교 옆,영등포구,5240.0
79869,"('2613', '2613')",2613,잠실나들목,송파구,2613,잠실나들목,송파구,5187.0
616544,"('914', '914')",914,새절역 2번출구,은평구,914,새절역 2번출구,은평구,5078.0
269425,"('182', '182')",182,망원2빗물펌프장 앞,마포구,182,망원2빗물펌프장 앞,마포구,4985.0
566642,"('1122', '1122')",1122,황금내근린공원,강서구,1122,황금내근린공원,강서구,4954.0
43131,"('1209', '1209')",1209,잠실나루역 (2번 출구 쪽),송파구,1209,잠실나루역 (2번 출구 쪽),송파구,4935.0
707885,"('1824', '1824')",1824,독산근린공원 입구,금천구,1824,독산근린공원 입구,금천구,4821.0
114254,"('1268', '1268')",1268,몽촌토성역 1번출구 옆,송파구,1268,몽촌토성역 1번출구 옆,송파구,4716.0
476564,"('418', '418')",418,월드컵경기장역 3번출구 옆,마포구,418,월드컵경기장역 3번출구 옆,마포구,4527.0
293479,"('210', '210')",210,IFC몰,영등포구,210,IFC몰,영등포구,4508.0
408421,"('228', '228')",228,선유도역 3번출구 앞,영등포구,228,선유도역 3번출구 앞,영등포구,4465.0
379985,"('202', '202')",202,국민일보 앞,영등포구,202,국민일보 앞,영등포구,4364.0
44427,"('825', '825')",825,서빙고동 주민센터 앞,용산구,825,서빙고동 주민센터 앞,용산구,4229.0
53165,"('1452', '1452')",1452,겸재교 진입부,중랑구,1452,겸재교 진입부,중랑구,4223.0
169360,"('2220', '2220')",2220,반포본동 주민센터 앞,서초구,2220,반포본동 주민센터 앞,서초구,4196.0
71,"('3533', '502')",3533,건대입구역 사거리(롯데백화점),광진구,502,뚝섬유원지역 1번출구 앞,광진구,4112.0
73,"('593', '502')",593,자양중앙나들목,광진구,502,뚝섬유원지역 1번출구 앞,광진구,4107.0

In [12]:
df20['index']="("+df20['borrow_station'].astype(str)+", "+df20['return_station'].astype(str)+")"
df20

,index,borrow_station,보관소(대여소)명_x,자치구_x,return_station,보관소(대여소)명_y,자치구_y,count
0,"(502, 502)",502,뚝섬유원지역 1번출구 앞,광진구,502,뚝섬유원지역 1번출구 앞,광진구,27207.0
84972,"(207, 207)",207,여의나루역 1번출구 앞,영등포구,207,여의나루역 1번출구 앞,영등포구,24893.0
174432,"(152, 152)",152,마포구민체육센터 앞,마포구,152,마포구민체육센터 앞,마포구,15981.0
432141,"(186, 186)",186,월드컵공원,마포구,186,월드컵공원,마포구,12296.0
23706,"(3515, 3515)",3515,서울숲 관리사무소,성동구,3515,서울숲 관리사무소,성동구,11724.0
...,...,...,...,...,...,...,...,...
562094,"(3506, 126)",3506,영동대교 북단,광진구,126,서강대 후문 옆,마포구,1.0
562090,"(840, 126)",840,용산 파크타워 앞,용산구,126,서강대 후문 옆,마포구,1.0
562089,"(840, 126)",840,용산 파크타워 앞,용산구,126,서강대 후문 옆,마포구,1.0
562088,"(138, 126)",138,신촌동 제1공영주차장 앞,서대문구,126,서강대 후문 옆,마포구,1.0
964986,"(661, 3703)",661,경희대학교 청운관,동대문구,3703,신성교회 앞,강북구,1.0

In [13]:
f=pd.merge(df19,df20, left_on='index', right_on='index', how='inner')
df=f[['index','borrow_station_x','보관소(대여소)명_x_x','자치구_x_x','return_station_x','보관소(대여소)명_y_x','자치구_y_x','count_x','count_y']]
df=df.drop_duplicates(['index'])
df['change']=df['count_y']-df['count_x']

## 코로나 전후 이용량 증가 경로

In [14]:
df=df.sort_values(by='change' ,ascending=False)
df.head(10)

,index,borrow_station_x,보관소(대여소)명_x_x,자치구_x_x,return_station_x,보관소(대여소)명_y_x,자치구_y_x,count_x,count_y,change
88,"(1827, 1827)",1827,독산보도육교 앞 자전거 보관소,금천구,1827,독산보도육교 앞 자전거 보관소,금천구,5420.0,10321.0,4901.0
26,"(186, 186)",186,월드컵공원,마포구,186,월드컵공원,마포구,7811.0,12296.0,4485.0
4,"(152, 152)",152,마포구민체육센터 앞,마포구,152,마포구민체육센터 앞,마포구,12312.0,15981.0,3669.0
106,"(3511, 3511)",3511,응봉역 1번출구,성동구,3511,응봉역 1번출구,성동구,4810.0,7994.0,3184.0
18,"(565, 565)",565,옥수역 3번출구,성동구,565,옥수역 3번출구,성동구,8336.0,11366.0,3030.0
36,"(583, 583)",583,청계천 생태교실 앞,성동구,583,청계천 생태교실 앞,성동구,6547.0,9101.0,2554.0
200,"(2177, 2177)",2177,신대방역 2번 출구,관악구,2177,신대방역 2번 출구,관악구,3827.0,6350.0,2523.0
14,"(2102, 2102)",2102,봉림교 교통섬,관악구,2102,봉림교 교통섬,관악구,8711.0,11210.0,2499.0
3718,"(766, 766)",766,신목동역 3번출구,양천구,766,신목동역 3번출구,양천구,988.0,3452.0,2464.0
472,"(1824, 1824)",1824,독산근린공원 입구,금천구,1824,독산근린공원 입구,금천구,2562.0,4821.0,2259.0

## 코로나 전후 이용량 감소 경로

In [15]:
df.tail(10)

,index,borrow_station_x,보관소(대여소)명_x_x,자치구_x_x,return_station_x,보관소(대여소)명_y_x,자치구_y_x,count_x,count_y,change
252,"(3523, 590)",3523,건국대학교 과학관(이과대) 앞,광진구,590,건국대학교 (입학정보관),광진구,3572.0,599.0,-2973.0
140,"(639, 623)",639,서울시립대 후문,동대문구,623,서울시립대 정문 앞,동대문구,4252.0,1191.0,-3061.0
152,"(116, 113)",116,일진아이윌아파트 옆,서대문구,113,홍대입구역 2번출구 앞,마포구,4156.0,1020.0,-3136.0
150,"(113, 116)",113,홍대입구역 2번출구 앞,마포구,116,일진아이윌아파트 옆,서대문구,4160.0,1017.0,-3143.0
110,"(113, 113)",113,홍대입구역 2번출구 앞,마포구,113,홍대입구역 2번출구 앞,마포구,4748.0,1559.0,-3189.0
124,"(623, 638)",623,서울시립대 정문 앞,동대문구,638,서울시립대 정보기술관,동대문구,4580.0,1284.0,-3296.0
74,"(113, 183)",113,홍대입구역 2번출구 앞,마포구,183,하늘채코오롱아파트 건너편,마포구,6182.0,1490.0,-4692.0
32,"(592, 590)",592,건국대학교 학생회관,광진구,590,건국대학교 (입학정보관),광진구,6734.0,1244.0,-5490.0
16,"(183, 113)",183,하늘채코오롱아파트 건너편,마포구,113,홍대입구역 2번출구 앞,마포구,8480.0,2079.0,-6401.0
22,"(590, 592)",590,건국대학교 (입학정보관),광진구,592,건국대학교 학생회관,광진구,7935.0,1476.0,-6459.0

In [20]:
k=pd.merge(df,c,left_on='borrow_station_x',right_on='대여소 번호',how='inner')
l=k.copy()[['borrow_station_x','위도','경도','return_station_x','change']]
l

        borrow_station_x         위도          경도  return_station_x  change
0                   1827  37.455849  126.893143              1827  4901.0
1                   1827  37.455849  126.893143              1996   227.0
2                   1827  37.455849  126.893143              1804   208.0
3                   1827  37.455849  126.893143              1998   202.0
4                   1827  37.455849  126.893143              1858   172.0
...                  ...        ...         ...               ...     ...
363160              3527  37.561790  127.024391               559   -43.0
363161              3527  37.561790  127.024391              1308   -44.0
363162              3527  37.561790  127.024391              3514   -51.0
363163              3527  37.561790  127.024391               383   -56.0
363164              3527  37.561790  127.024391               568   -57.0

[363165 rows x 5 columns]

In [25]:
m=pd.merge(l,c,left_on='return_station_x',right_on='대여소 번호',how='inner')
n=m.copy()[['borrow_station_x','위도_x','경도_x','return_station_x','위도_y','경도_y','change']]
n.columns=['br','br_lat','br_long','rs','rs_lat','rs_long','net']
n

          br     br_lat     br_long    rs     rs_lat     rs_long     net
0       1827  37.455849  126.893143  1827  37.455849  126.893143  4901.0
1        152  37.556610  126.898018  1827  37.455849  126.893143     0.0
2        565  37.541363  127.017662  1827  37.455849  126.893143     1.0
3       2177  37.487129  126.913017  1827  37.455849  126.893143    22.0
4       2102  37.484230  126.926392  1827  37.455849  126.893143    26.0
...      ...        ...         ...   ...        ...         ...     ...
364011  2396  37.485741  127.051048  2394  37.479092  127.055397    -3.0
364012  2394  37.479092  127.055397  2394  37.479092  127.055397    26.0
364013  2335  37.486767  127.046761  2394  37.479092  127.055397    21.0
364014  2339  37.483261  127.052299  2394  37.479092  127.055397     0.0
364015  2395  37.479290  127.055733  2394  37.479092  127.055397     0.0

[364016 rows x 7 columns]

In [26]:
n.to_csv('Net_route.csv')